.hero {
  display: flex;
  flex-direction: row; /* Mantener fila para que HeroContent y Projects estén en línea */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegura que el hero ocupe todo el ancho */
  min-height: 100vh;
  padding: 50px 20px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* Limitar el ancho del texto principal */
}

.heroTitle {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: bold;
  font-weight: 400;

}

.heroSubtitle {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 100;
  margin-top: 20px;
  max-width: 700px;
  color: #ffffff;
}

.projects {
  display: flex;
  flex-direction: column  ; /* Cambiar a row para alinearlos horizontalmente en pantallas grandes */
  justify-content: flex-start; /* Asegura que los proyectos estén alineados a la izquierda */
  align-items: center; /* Centra verticalmente los proyectos */
  gap: 30px; /* Espaciado entre proyectos */
  position: absolute; /* Los proyectos estarán posicionados dentro del hero */
  top: 10;
  right: 0;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  visibility: visible; /* Asegura que los proyectos estén visibles dentro del hero */
}

.projectsTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.projectsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projectsList li {
  margin: 0 10px; /* Espaciado horizontal entre elementos de la lista */
  font-size: 1.1rem;
  color: #333;
}

/* Ajustar el footer para que ocupe todo el ancho */
.heroFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #f7f7f7;
  text-align: center;
  font-size: 2rem;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  gap: 50px;
  animation: scroll 20s linear infinite;
}

.sliderTrack span {
  white-space: nowrap;
  padding: 0 20px;
}

/* Definir la animación para el movimiento infinito */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* Estilo para duplicar el contenido del slider */
.sliderTrack::after {
  content: "";
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
  visibility: hidden;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* En pantallas pequeñas, los elementos se apilan verticalmente */
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }

  .projects {
    position: sticky; /* En móviles, eliminamos la posición absoluta */
    flex-direction: column; /* Cambiar a columna para que los proyectos se alineen verticalmente */
    gap: 20px; /* Reducir el espacio entre los proyectos */
    margin-top: 30px; /* Espacio entre el hero y los proyectos */
    visibility: visible; /* Asegura que los proyectos sean visibles en dispositivos móviles */
  }
}
