.page {
    position: relative;
    overflow: hidden; /* Para evitar que los círculos sobresalgan */
  }
  
  

  .circleContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Asegúrate de que los círculos estén detrás del contenido */
    pointer-events: none; /* Evita que los círculos interfieran con el clic */
  }
  
  .circle {
    position: absolute;
    border-radius: 50%; /* Hace que los divs sean círculos */
    filter: blur(40px); /* Aplica el desenfoque */
    opacity: 0.5; /* Controla la opacidad para hacer el efecto más sutil */
  }
  
  .circle:nth-child(1) {
    width: 300px;
    height: 300px;  
    top: 10%;
    left: 10%;
    background: radial-gradient(circle, rgba(177, 0, 226, 0.916) 0%, rgba(177, 0, 226, 0) 80%);
  }
  
  .circle:nth-child(2) {
    width: 400px;
    height: 400px;
    top: 30%;
    right: 15%;
    background: radial-gradient(circle, rgba(0, 42, 255, 0.703) 0%, rgba(0, 43, 255, 0) 80%);
  }
  
  .circle:nth-child(3) {
    width: 500px;
    height: 500px;
    top: 50%;
    right: 20%;
    background: radial-gradient(circle, rgba(177, 0, 226, 0.758) 0%, rgba(177, 0, 226, 0) 80%);
  }
  
  .circle:nth-child(4) {
    width: 600px;
    height: 600px;
    bottom: 10%;
    left: 10%;
    background: radial-gradient(circle, rgba(0, 42, 255, 0.836) 0%, rgba(0, 43, 255, 0) 80%);
  }
  
  /* --------------------starts */