/* components/Experience.module.css */

.experience {
  padding: 50px 20px;
  color: white;
  padding: 30px;
  border-radius: 10px;
  background: green;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: lighter;
  font-size: 2.5rem;
  color: #bbb;
  letter-spacing: 1px;
}
.experienceDetails {
    width: 85%;
    margin: 0 auto;
    padding: 30px;
    border-left: 2px solid white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  }
  
  .companyInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .companyName {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 20px;
  }
  
  .position {
    font-size: 1.5rem;
    font-weight: normal;
    color: #bbb;
  }
  
  .dateLocation {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #aaa;
    margin-top: 5px;
  }
  
  .date,
  .location {
    margin-right: 20px;
  }
  
  .responsibilities {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-left: 40px;
  }
  
  .responsibilities li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ccc;
  }
  .viewMore {
    background-color: #3d3d3d41;
    color: white;
    border: none;
    padding: 10px 20px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;  /* Asegura que el botón ocupe el ancho completo disponible */
    margin-left: auto;  /* Centra el botón */
    margin-right: auto; /* Centra el botón */
  }
  
  .viewMore:hover {
    background-color: #e64a19;
  }
  